.container{
    margin-bottom: 100px;
}
form{
    width: 550px;
}
.carousel-item{
    padding: 20px 40px;
}
.rose{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF598B 0%, #FF136F 100%);
    color: white;
    font-weight: bold;
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
/*You Can also do it like that too
.cat1, .cat2, .cat3{
    padding: 10px;
    border-radius: 10px;
}*/
.cat1{
    background-image: linear-gradient(90deg, orange, gold);
    border-radius: 5px;
    padding: 10px 30px;
}
.cat2{
    background-image: linear-gradient(90deg, #f06e6e, #f06e6c);
    border-radius: 5px;
    padding: 10px 30px;
}
.cat3{
    background-image: linear-gradient(90deg, rgb(2, 111, 148), rgb(77, 77, 220));
    border-radius: 5px;
    padding: 10px 30px;
   
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none !important;
    box-shadow: 5px 5px 10px lightgray;
}
.bages h5,{
    text-align: center;
    
}
.end-edit{
    height: 400px;
    background-color: hsl(0, 89%, 65%, .4);
    border-radius: 10px;
}
.end-edit h1, p{
    text-align: center;
}
.input-height{
    padding: 6px 20px;
}
footer{
    text-align: center;
    font-size: 13px;
    padding: 10px;
}
